body {
    background-color: rgb(36, 36, 36);
    color: rgb(255, 255, 255);
    background-image: url("assets/Background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
img {
    height: 300px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 50px;
}
footer p {
    color : rgb(255, 232, 28);
}

h1 {
    font-family: sans-serif;
    color: rgb(255, 232, 28);
    font-size: xx-large;
    padding: 100px

}

main {
    display: flex;
    flex-direction: column;
    color: rgb(255, 232, 28);
    justify-content: space-around;
    padding: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}