body {
    background-color: rgb(36, 36, 36);
    color: rgb(255, 255, 255);
    background-image: url("assets/Wallpaper.jpg");
    background-repeat: repeat;
    background-size: auto;
}

.Imagens_promocionais-div {
    display: flex;
    justify-content: center;
    gap: 20px;
}

h1 {
    font-size: 3em;
    text-align: center;
    margin-top: 50px;
}

h2 {
    font-size: x-large;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

p {
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
}

img {
    display: block;
    margin: 20px auto;
    width: auto;
    height: 500px;
}

footer {
    text-align: center;
    margin-top: 50px;
    font-size: 1.2em;
    text-emphasis-color: rgb(249, 249, 31);
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 1.5em;
    color: rgb(47, 50, 251);
    
}